<header>
  <h2>Password-less Login</h2>
</header>
<%= form_tag session_path, id: 'login_form' do %>
  <p><%= hidden_field_tag :client_data_json %></p>
  <p><%= hidden_field_tag :authentication_data %></p>
  <p><%= submit_tag 'Login' %></p>
<% end %>

<script src="/web-authn.js"></script>
<script>
  const challenge = "<%= session[:challenge] %>";
  login_form.addEventListener('submit', password_less.authenticate);
</script>