<header>
  <h2>Password-less Login</h2>
</header>

<%= form_tag session_path, id: 'authentication_form' do %>
  <p id="autocomplete_field_container" style="display:none">
    <%= text_field_tag :username, nil, placeholder: 'Just for autocomplete', autocomplete: 'username webauthn' %>
  </p>
  <%= hidden_field_tag :credential_id %>
  <%= hidden_field_tag :authenticator_data %>
  <%= hidden_field_tag :client_data_json %>
  <%= hidden_field_tag :signature %>
  <p><%= submit_tag 'Login' %></p>
<% end %>

<p class="avatar">
  <span>or</span>
</p>

<header>
  <h2>Password-less Sign-up</h2>
</header>

<%= form_tag account_path, id: 'registration_form' do %>
  <%= hidden_field_tag :attestation_object %>
  <%= hidden_field_tag :client_data_json %>
  <p><%= email_field_tag :email, params[:email], placeholder: 'email', required: true %>
  <p><%= text_field_tag :display_name, params[:display_name], placeholder: 'Display Name', required: true %>
  <p><%= submit_tag 'Sign-up' %></p>
<% end %>

<script src="/web-authn.js"></script>
<script>
  const challenge = "<%= session[:challenge] %>";
  authentication_form.addEventListener('submit', password_less.authenticate);
  registration_form.addEventListener('submit', password_less.register);

  if (PublicKeyCredential.isConditionalMediationAvailable) {
    PublicKeyCredential.isConditionalMediationAvailable().then((available) => {
      if (available) {
        autocomplete_field_container.style.display = '';
        password_less.autocomplete(authentication_form);
      } else {
        console.info('conditional mediation unavailable');
      }
    });
  }
</script>