<!DOCTYPE html>
<html>
  <head>
    <title>WebAuthn Gem Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <h1>WebAuthn Gem Sample</h1>
      <section id="main">
        <%= yield %>
        <span class="error"><%= flash[:alert] %></span>
      </section>
      <footer id="footer">
        <% if authenticated? %>
          <%= form_tag session_path, method: :delete do %>
            <p><%= submit_tag 'Logout' %></p>
          <% end %>
          <%= form_tag account_path, method: :delete do %>
            <p><%= submit_tag 'Sign-up again' %></p>
          <% end %>
        <% end %>
        <p>
          <small>&copy; <%= link_to 'Nov Matake', 'https://matake.jp' %></small> |
          <%= link_to 'Source Code', 'https://github.com/nov/web_authn_sample' %>
        </p>
      </footer>
    </div>
  </body>
</html>
