<!DOCTYPE html>
<html>
  <head>
    <title>WebAuthn Gem Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="wrapper">
      <h1>WebAuthn Gem Sample</h1>
      <section id="main">
        <%= yield %>
      </section>
      <footer>
        <% if authenticated? %>
          <%= form_tag session_path, method: :delete do %>
            <p><%= submit_tag :logout %></p>
          <% end %>
        <% end %>
        <small>&copy; Nov</small>
      </footer>
    </div>
  </body>
</html>
